*

!.gitignore

# Whitelist maven project source files
!pom.xml

!language/
!language/pom.xml
!language/src/
!language/src/**/
!language/src/**/*

!launcher/
!launcher/pom.xml
!launcher/src/
!launcher/src/**/
!launcher/src/**/*

# Let vendored dependencies define their own ignore rules
!vendor/
!vendor/**/
!vendor/**/*

# Ignore compilation artifacts in vendor/coremark
vendor/coremark/**/*.o
vendor/coremark/**/*.exe
vendor/coremark/**/*.elf
vendor/coremark/**/*.bin
vendor/coremark/**/*.log
