# Ignore everything by default
*

!.gitignore
!README.md

# Whitelist dev environment
!flake.nix
!flake.lock
!Justfile

# Whitelist maven project source files
!pom.xml

!language/
!language/pom.xml
!language/src/
!language/src/**/
!language/src/**/*

!launcher/
!launcher/pom.xml
!launcher/src/
!launcher/src/**/
!launcher/src/**/*

# Except for the resources folder, which is generated
language/src/main/resources

# Whitelist our tiny profiling programs
!perftests/
!perftests/Makefile
!perftests/*.ld
!perftests/*.s

# Let vendored dependencies define their own ignore rules
!vendor/
!vendor/**/
!vendor/**/*

# Ignore compilation artifacts in vendor/coremark
vendor/coremark/**/*.o
vendor/coremark/**/*.exe
vendor/coremark/**/*.elf
vendor/coremark/**/*.bin
vendor/coremark/**/*.log
